In [1]:
from dask.distributed import Client
import dask
import dask.dataframe as dd

In [2]:
import pandas as pd
import time

In [3]:
client = Client(processes = False)
client

In [4]:
file_name = '../../clean_id.csv'
file_test = '../../data/ordered_1/data1.txt'

file_output_test = '../../output_test.csv'
file_output = '../../ordered_dataset.csv'

In [6]:
df = dd.read_csv(file_name, dtype = {'id_user':int, 'rating': str, 'deta': str, 'id_film': str, 'year': str, 'name': str}, error_bad_lines = False)

In [7]:
df.head(10)

   id_user rating        deta id_film  year
0      915      5  2005-08-17       1  2003
1     1333      4  2004-05-18       3  1997
2     2442      3  2004-04-14       1  2003
3     3321      3  2005-09-27       1  2003
4     4326      4  2005-10-29       1  2003
5     6689      4  2003-02-20       3  1997
6    11409      5  2005-01-13       2  2004
7    11589      3  2005-10-19       1  2003
8    13651      3  2004-06-16       1  2003
9    14756      4  2005-12-27       1  2003

In [8]:
%%time
df = df.set_index('id_user', drop = False)

Wall time: 47.1 s

In [9]:
%%time
df.head()

Wall time: 1min 11s

         id_user      rating   deta id_film year
id_user
1              1  2004-10-15  15218    1998  NaN
1              1  2005-01-20  16599    1998  NaN
1              1  2003-10-20  15175    1971  NaN
1              1  2004-04-02  15176    2002  NaN
1              1  2003-11-18  16597    2001  NaN

In [10]:
df.to_csv(file_output, single_file = True)

distributed.comm.inproc - WARNING - Closing dangling queue in <InProc  local=inproc://192.168.0.49/6780/1 remote=inproc://192.168.0.49/6780/9>
distributed.comm.inproc - WARNING - Closing dangling queue in <InProc  local=inproc://192.168.0.49/6780/3 remote=inproc://192.168.0.49/6780/162>

['C:/Users/Giovanni/Documents/github/movie-recommendation-based-on-sentiment-analysis/ordered_dataset.csv']

In [15]:
df.head(1000)

         id_user      rating   deta id_film year
id_user
1              1  2004-10-15  15218    1998  NaN
1              1  2005-01-20  16599    1998  NaN
1              1  2003-10-20  15175    1971  NaN
1              1  2004-04-02  15176    2002  NaN
1              1  2003-11-18  16597    2001  NaN
...          ...         ...    ...     ...  ...
1              1  2004-04-07   3021    2003  NaN
1              1  2004-04-26   3021    2003  NaN
1              1  2004-07-21   3021    2003  NaN
1              1  2005-07-31   3021    2003  NaN
1              1  2005-12-19   3022    1958  NaN

[1000 rows x 5 columns]